[Unit]
Description=Basic Github Webhook Handler
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/gunicorn webhook:app
WorkingDirectory=/srv/webhook

[Install]
WantedBy=multi-user.target